<article class="container">
    <div class="w-100 pt-5 pb-5 pl-0 pr-0">
            <a name="learnMore"></a>
            <h1 class="display-3 text-white">Current Skillset</h1>
            <hr>
            <div class="skillbar clearfix " data-percent="89%">
                <div class="skillbar-title" style="background: #27ae60;"><span>JavaScript</span></div>
                <div class="skillbar-bar" style="background: rgb(46, 204, 113); width: 89%;"></div>
                <div class="skill-bar-percent">89%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
                <div class="skillbar-bar" style="background: rgb(230, 126, 34); width: 95%;"></div>
                <div class="skill-bar-percent">95%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="93%">
                <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
                <div class="skillbar-bar" style="background: rgb(52, 152, 219); width: 93%;"></div>
                <div class="skill-bar-percent">93%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="89%">
                    <div class="skillbar-title" style="background: #27ae60;"><span>Angular 2</span></div>
                    <div class="skillbar-bar" style="background: rgb(46, 204, 113); width: 89%;"></div>
                    <div class="skill-bar-percent">89%</div>
                </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="82%">
                <div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
                <div class="skillbar-bar" style="background: rgb(44, 62, 80); width: 82%;"></div>
                <div class="skill-bar-percent">82%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="86%">
                <div class="skillbar-title" style="background: #46465e;"><span>Java Spring</span></div>
                <div class="skillbar-bar" style="background: rgb(90, 104, 165); width: 86%;"></div>
                <div class="skill-bar-percent">86%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #333333;"><span>MongoDB</span></div>
                <div class="skillbar-bar" style="background: rgb(82, 82, 82); width: 85%;"></div>
                <div class="skill-bar-percent">85%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="83%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Apache Cordova</span></div>
                <div class="skillbar-bar" style="background: rgb(46, 204, 113); width: 83%;"></div>
                <div class="skill-bar-percent">83%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="91%">
                <div class="skillbar-title" style="background: #d35400;"><span>AWS EC2</span></div>
                <div class="skillbar-bar" style="background: rgb(230, 126, 34); width: 80%;"></div>
                <div class="skill-bar-percent">80%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="81%">
                <div class="skillbar-title" style="background: #2980b9;"><span>Travis CI</span></div>
                <div class="skillbar-bar" style="background: rgb(52, 152, 219); width: 81%;"></div>
                <div class="skill-bar-percent">81%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="91%">
                <div class="skillbar-title" style="background: #2c3e50;"><span>Web Design</span></div>
                <div class="skillbar-bar" style="background: rgb(44, 62, 80); width: 91%;"></div>
                <div class="skill-bar-percent">91%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="86%">
                <div class="skillbar-title" style="background: #46465e;"><span>Software Development</span></div>
                <div class="skillbar-bar" style="background: rgb(90, 104, 165); width: 86%;"></div>
                <div class="skill-bar-percent">86%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="68%">
                <div class="skillbar-title" style="background: #333333;"><span>PHP</span></div>
                <div class="skillbar-bar" style="background: rgb(82, 82, 82); width: 68%;"></div>
                <div class="skill-bar-percent">68%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="39%">
                <div class="skillbar-title" style="background: #d35400;"><span>Docker</span></div>
                <div class="skillbar-bar" style="background: rgb(230, 126, 34); width: 39%;"></div>
                <div class="skill-bar-percent">39%</div>
            </div> <!-- End Skill Bar -->
        
            <div class="skillbar clearfix " data-percent="89%">
                <div class="skillbar-title" style="background: #2980b9;"><span>SQL</span></div>
                <div class="skillbar-bar" style="background: rgb(52, 152, 219); width: 89%;"></div>
                <div class="skill-bar-percent">89%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="35%">
                <div class="skillbar-title" style="background: #2c3e50;"><span>React.js</span></div>
                <div class="skillbar-bar" style="background: rgb(44, 62, 80); width: 35%;"></div>
                <div class="skill-bar-percent">35%</div>
            </div> <!-- End Skill Bar -->      
            <!-- /.row -->
        </div>
        <!-- /.container -->
</article>