.navbar.solid {
    background-color: rgba(0,0,0,.9);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px #000000;
}
.navbar {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    z-index: 100;
    transition: background-color 1s ease 0s;
  }