<main class="fluid-container">
    <section id="hero_slider" class="w-100">
        <article>
            <app-home-hero-slider></app-home-hero-slider>
        </article>
    </section>
    <section id="rafael_intro" class="container">
        <article class="col-12 pt-3">
            <app-rafael-intro></app-rafael-intro>
        </article>
    </section>
    <section id="services" class="container-fluid bg-dark">
        <app-current-skillset></app-current-skillset>
    </section>
    <app-github-api></app-github-api>
</main>