@import "../node_modules/ng2-slim-loading-bar/style.css";
* {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    margin: -56px auto;
}
#socialMedia {
    padding: 5px;
    transition: transform .2s; /* Animation */
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.zoom {
    width:500px;
    transform: scale(1.5);
}
.bg-tictac {
    background-image: url('./assets/media/images/tic-tac-toe.png');
}
.bg-connect {
    background-image: url('./assets/media/images/connectwork.png');
}
.bg-qbkls {
    background-image: url('./assets/media/images/qbkls.png');
}
.bg-hex-dark {
    background-image: url('./assets/media/images/hex-dark.png');
}
.card {
    min-height: 262px;
}